h1 {
  font-family: Prompt;
  font-style: normal;
  font-weight: 800;
  line-height: 33px;
  font-size: 36px;
  color: #FFFFFF;
  text-align: center;
}

h2 {
  font-family: Prosto One;
  font-style: normal;
  font-weight: normal;
  line-height: 33px;
  font-size: 2rem;
  text-align: center;
  color: #FFFFFF;
}

h3 {
  font-family: Prosto One;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  color: #FFFFFF;
}

h5 {
  font-family: Prosto One;
  font-style: normal;
  line-height: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
}

p {
  color: #858585;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  a: visited;
  a-color: #E32626;
}

button, #submit {
  display: block;
  width: 120px;
  height: 30px;
  background: #000000;
  border-radius: 30px;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  margin: auto;
  cursor: pointer;
}
button:hover, #submit:hover {
  background: #FFFFFF;
  color: #000000;
  border: 2px solid #000000;
}

body {
  margin: 0;
  background-color: #0B0B0B;
  color: #FFFFFF;
}

header h3 {
  width: 25rem;
  margin: auto;
}

#nav-menu {
  display: flex;
  position: absolute;
  right: 0px;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
#nav-menu a {
  margin-right: 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0.25rem 0 0.25rem;
}
#nav-menu a:hover {
  background-color: #ddd;
}
#nav-menu .nav-menu {
  display: none;
}
#nav-menu .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav-link {
    display: none !important;
  }

  .icon {
    display: flex !important;
    padding-right: 1rem;
    font-size: 2rem;
  }

  .responsive {
    flex-direction: column !important;
    position: relative !important;
  }
  .responsive .nav-link {
    display: flex !important;
  }
}
#nav-bar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: flex-start;
  background-color: #0B0B0B;
  justify-content: space-between;
}
#nav-bar img {
  position: relative;
  width: 4rem;
  height: 4rem;
}

#jumbo {
  margin-top: 4rem;
  height: 100vh;
  width: 100vw;
  background-image: url("https://static1.squarespace.com/static/5a54dda9f14aa145babb232f/5a54e3470d92975164e531ef/5b3763a1758d4623ef17041e/1530357105862/edgar-chaparro-669210-unsplash.jpg?format=2500w");
  background-size: cover;
  background-position: center top;
  display: flex;
  align-items: center;
  justify-content: center;
}
#jumbo #jumbo-content h1 {
  margin-top: 0;
}
#jumbo #jumbo-content h2 {
  margin-bottom: 0;
}
#jumbo #jumbo-content button {
  margin: auto;
  margin-top: 1rem;
}

.sales {
  margin: 1rem auto 1rem auto;
}

#sales-coaching {
  width: 90%;
  display: flex;
  align-content: stretch;
  background-color: #FFFFFF;
  height: 15rem;
}

#sales-text {
  width: 50%;
  color: #000000;
  text-align: center;
  padding: 1rem;
}
#sales-text h5 {
  margin-bottom: 0;
}

#sales-photo {
  display: flex;
  width: 50%;
  justify-content: center;
  border-right: solid 0.1rem black;
  align-self: center;
}
#sales-photo img {
  align-self: center;
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
}

#powerlifting {
  display: flex;
  flex-direction: column;
}
#powerlifting iframe {
  align-self: center;
}

#form {
  display: flex;
  width: 80%;
  flex-direction: column;
  max-width: 75rem;
  margin: auto;
  margin-bottom: 1rem;
}
#form input[type=text], #form input[type=number], #form input[type=email] {
  width: 100%;
  border: 2px solid #B1B1B1;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#form input[type=submit] {
  margin-top: 1rem;
  cursor: pointer;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  text-align: center;
}
footer h2 {
  margin-bottom: 0.2rem;
}

#footer-logo {
  margin: auto;
  width: fit-content;
}
#footer-logo img {
  position: relative;
  width: 5rem;
  height: 5rem;
}
